@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Ajouter un effet de lueur autour de la bordure */
.navbar-border {
  box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.8);
}
